<div class="post-content">
  <li id="post-<%= post.id %>">
    <span class="content">
      <%= link_to post_path(post.id), target: "_self" do %>
        <%= image_tag post.display_image if post.image.attached? %>
      <% end %>
    </span>
  </li>
</div>